# Minimal packages you might need:
streamlit
openai
pymysql
langchain
langchain_community
langchain_openai
langchain_aws
boto3
python-dotenv
fpdf2
faiss-cpu 
tenacity
numpy
scikit-learn
python-dateutil
gspread 
google-auth 
google-auth-oauthlib 
google-auth-httplib2 
pandas                                        

